@use "../../../../assets/styles/colors" as colors;

.task-details {
    &__task {
        padding: 40px;
        border: 1px solid colors.$border;
        border-radius: 21px;
    }
    &__header {
        display: flex;
        align-items: center;
        column-gap: 14px;
        margin-bottom: 27px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 20px;
    }
    &__extra-wrapper {
        display: flex;
        align-items: center;
        column-gap: 7px;
    }
    &__edit-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: opacity .3s ease-in;
        &:hover {
            opacity: .7;
        }
    }
    &__btn-icon {
        color: colors.$main;
    }
    &__priority {
        padding: 5px 8px;
        border-radius: 5px;
        color: colors.$white;
    }
}