/* You can add global styles to this file, and also import other style files */
@use "./assets/styles/colors" as colors;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    &--page {
        padding-top: 26px;
        padding-bottom: 40px;
    }
}

.btn {
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    background-color: colors.$main;
    color: colors.$white;
    border: none;
    border-radius: 5px;
    font: inherit;
    cursor: pointer;
    transition: opacity .3s ease-in;
    &:hover {
        opacity: .7;
    }
}

.performer {
    padding: 5px 8px;
    background-color: colors.$border;
    border-radius: 5px;
}

.priority-low {
    background-color: colors.$extra-green;
}

.priority-medium {
    background-color: colors.$extra-orange;
}

.priority-high {
    background-color: colors.$extra-red;
}

.priority-unknown {
    background-color: colors.$light-main;
}