.modal {
    &__close-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    &__close-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 21px;
    }
    &__btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}